<div class="header">
    <ul class="nav nav-pills pull-right">
        <li><a ng-href="#">Home</a></li>
        <li><a ng-href="#/addproject">Add Project</a></li>
        <li class="active"><a ng-href="#/about">About Us</a></li>
        <li><a ng-href="#/login" ng-hide="view=='login'">Login</a></li>
        <li><a ng-href="#/register" ng-hide="view=='login'">Register</a></li>
        <li><a ng-click="logout()" ng-show="view=='login'">Logout</a></li>
    </ul>
    <h3 class="text-muted">Do Good Project</h3>
</div>

<center><p>About Us</p>
<p>Developer : FlyingComma .Co .Ltd</p>
<p>Tel : 0123456789</p>
<p>Email : contact@flyingcomma.com</p></center>
<div class="footer">
    <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>