<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#/addproject">Add Project</a></li>
        <li><a ng-href="#/about">About Us</a></li>
        <li><a ng-href="#/login" ng-hide="view=='login'">Login</a></li>
        <li><a ng-href="#/register" ng-hide="view=='login'">Register</a></li>
        <li><a ng-click="logout()" ng-show="view=='login'">Logout</a></li>
    </ul>
    <h3 class="text-muted">Do Good Project</h3>
</div>

        <div ng-repeat="contact in contacts">
            <div style="outline:#000000 solid 2px;">
                
                    <a href="/#/project-info/{{contact.objectId}}"><h1>&nbsp;{{contact.projectName}}</h1></a>
                    <h2>&nbsp;By : {{contact.user}}</h2>
                    <h3>&nbsp;{{contact.where}}</h3>
                    <p><b>&nbsp;&nbsp;{{contact.detail}}</b></p>
                    <p>&nbsp;&nbsp;{{getDate(contact.when)}}</p>        

            </div>
        </div>


    <br>
    <br>





</div>

<div class="footer">
    <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
